<div class="container p-3">

<h1>My Tasks</h1>
<div class="list">
<% @tasks.each do |t| %>
  <ul class="list">
  <% if t.completed == true %>
    <li class="list-items">  <%= link_to t.title, task_path(t)  %>  <input type="checkbox" checked>
</li>
     <% else %>
    <li class="list-items"><%= link_to t.title, task_path(t)  %>     <input type="checkbox"></li>
     <% end %>
  </ul>
<% end %>
<p><%= link_to "create a new task", new_task_path %></p>
</div>
</div>
