@import "bootstrap/scss/bootstrap";
body {
  background-color: lightyellow;
  margin: 0 auto;
}
h1{
  color: rgb(75, 75, 75);
  padding: 15px 0 10px 0;

}

#head-text {
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.pull-right {
  // color: rgb(181, 179, 116);
  text-align: center;
  border: none;
  margin: 3px 0;
}

.btn {
  background-color: rgb(127, 191, 230);
  border: none;
}

.btn:hover {
  background-color:rgb(168, 158, 118)
}
// Thats from the new.html.erb

.header-show {
  text-align: left;
  font-weight: bold;
}
////////////////////////////////////

a {
  font-family: "Helvetica Neue";
  font-size: 15px;
  color: rgb(75, 75, 75);
}

a:hover {
  color: rgb(186, 186, 186);
  text-decoration: none;
  transition: .5s;
}
.container {
  // border: 0.5px solid rgb(136, 169, 189);
  background-color: rgb(255, 233, 144);
  margin: 10px auto;
  border-radius: 10px;
  height: auto;
  width: 250px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}
.the-list {
  color: black ;
  padding-bottom: 5px;
}

#tasks {
  list-style: none;
  padding-left: 0;
}
